@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Kalam:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,600&family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}
.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}
/*Track*/
::-webkit-scrollbar-track{
background: #e0e0e0;
}
::-webkit-scrollbar-thumb{
  background: #888;
}
/*Handle on hover*/
::-webkit-scrollbar-track:hover{
  background: #555;
}